[selector]: {
    [property]: [value];
}

/*ID selector*/
#fathiat {
    color:blue;
}

/*Tag selector*/
p {
    color:blue;
}

/*Class selector*/
.tatum {
    color: blue
}

/*Descendant selector*/
[parent selector] [child selector] {
    [property]: [value]
}

/*Direct Descendant selector*/
/* [parent selector] > [child selector] {
    [property]: [value]
} */



p {
    width: 27px;
    height: 27px;
}

p > img {
    width: 0.5em;
    height: 27px;
}

