:root{
    --bg: #f3f5f8;
    --light: #ffffff;
    --text: #0a1f44;
    --muted: #6b72b0;
    --placeholder: #9ca3af;
    --border: #e5e7eb;
    --button: #ffcc33;
    --button-text:#0a1b3d;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    overflow-x: clip;
}

.page-shell{
    display: flex;
    min-height: 100dvh;
}

.hero{
    background-image: url(images/vibrant\ smiling\ African\ woman\ with\ a\ colorful\ headwrap\ wearing\ a\ yellow\ top\ holding\ a\ digital\ tablet.png);
    width: 50%;
    min-width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    box-sizing: border-box;
}

.hero-overlay{
    position: absolute;
    width: 100%;
    min-height: 100dvh;
    background: rgb(0,0,0,0.7);
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.hero-title{
    font-weight: 700;
    font-size: clamp(48px, 5vw, 60px);
    line-height: 1.25;
    vertical-align: middle;
    color: #ffffff;
    z-index:1;
}

.hero-description{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    color: #ffffff;
    z-index: 1;
}

.login-pannel{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

.login-pannel > .img-container{
    margin-bottom: 48px;
    width: 528px;
}

.login-pannel-headers > h2{
    font-size: clamp(25px, 2vw, 32px);
    line-height: 1.06;
    font-weight: 800;
    color: rgba(10, 31, 68, 1);
    width: 528px;
    height: 36px;
    padding-bottom: 8px;
}

.login-pannel-headers > p{
    color: rgba(107, 114, 128, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 40px;
    width: 528px;
}

form{
    width: 528px;
    /* min-height: 468px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form > .input-container{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

form .input-box{
    width: 528px;
    border-radius: 8px;
    border: 1px solid rgba(229, 231, 235, 1);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 17px 20px 17px 20px;
    height: 56px;
    align-items: center;
    gap: 10px;
}

form  input{
    border-radius: 8px;
    box-sizing: border-box;
    border: none;
    height: 54px;
    width: 100%;
    outline: none;
}

form  a{
    color: rgba(10, 31, 68, 1);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.2%;
    align-self: flex-end;
}

form  button{
    height: 56px;
    border-radius: 16px;
    border: 1px transparent;
    background: rgba(255, 204, 51, 1);
    color: rgba(10, 27, 61, 1);
    font-weight: bold;
    font-size: 16px;
    padding: 16px 16px;
}

.bottom-link{
    padding-top: 48px;
    text-align: center;
    display: grid;
    gap: 12px;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.39%;
    color: rgba(75, 85, 99, 1);
    width: 528px;
}

.bottom-link > p > a{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.39%;
    color: rgba(10, 27, 61, 1);
}

footer{
    display: flex;
    gap: 40px;
    opacity: 80%;
    align-self: center;
    min-height: 24px;
    margin-top: 216px;
}

footer > p{
    color: rgba(107, 114, 128, 1);
    font-size: 10px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.59%;
    display: flex;
    align-items: center;
    gap: 8px;
}