@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --bg: #f3f5f8;
  --light: #ffffff;
  --text: #0a1f44;
  --muted: #6b7280;
  --placeholder: #9ca3af;
  --border: #e5e7eb;
  --button: #ffcc33;
  --button-text: #0a1b3d;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  box-sizing: border-box;
  overflow-x: clip;
}

.page-shell {
  display: flex;
  height: 100dvh;
}
.hero-panel {
  background-image: url("../images/hero-image-2.png");
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5rem;
  color: var(--light);
  position: relative;
}

.hero-title {
  font-weight: 700;
  font-size: clamp(3rem, 5vw, 3.75rem);
  line-height: 1.25;
}

.hero-subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
}

.overlay {
  background-color: #3d261c;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: -999;
}

.password-changed-panel {
  flex: 1;
  padding: 48px 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  overflow-y: scroll;
}

.tatum-logo {
  height: 49px;
  align-self: flex-start;
}

.password-changed-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkmark-container {
  background-color: #f0fdf4;
  border-radius: 999px;
  width: 80px;
  height: 80px;
  display: flex;
  align-self: center;
}

.checkmark {
  width: 48px;
  height: 48px;
  margin: auto;
}

.password-changed-text { 
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  text-align: center;
  max-width: 75%;
  align-self: center;
}

.password-changed-text h2 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.125;
  vertical-align: middle;
  color: var(--text);
}

.password-changed-text-p {
  font-weight: 400;
  line-height: 1.5;
  color: var(--muted);
}

.back-to-login-btn {
  background-color: var(--button);
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  color: var(--button-text);
  font-size: 1rem;
  margin-top: 0.5rem;
  text-decoration: none;
  text-align: center;
}



.footer {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 0.625rem;
  font-weight: 500;
  color: var(--muted);
}

.footer p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
