:root {
    --bg: #f3f5f8;
    --light: #ffffff;
    --text: #0a1f44;
    --muted: #6b7280;
    --placeholder: #9ca3af;
    --border: #e5e7eb;
    --button: #ffcc33;
    --button-text: #0a1b3d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.page-shell {
    display: flex;
    min-height: 100dvh;
}

.hero-panel {
    color: var(--light);
    background-image: url("/fathiat/images/hero-image-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
    padding: 80px;
    width: 50%;
}

.hero-panel2 {
    color: var(--light);
    background-image: url("/fathiat/images/hero-image-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
    padding: 80px;
    width: 50%;
}

.hero-title {
    font-weight: 700;
    font-size: clamp(48px, 5vw, 60px);
    line-height: 1.25;
}

.hero-p {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
}

.login-panel {
    flex: 1;
    padding: 48px 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tatum-logo {
    padding-bottom: 24px;
}

.login-panel-heading {
    padding-bottom: 24px;
}

.login-panel-heading h2 {
    color: var(--text);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.125;
    padding-bottom: 8px;
}

.login-panel-heading p {
    color: var(--muted);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

form {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form input {
    width: 100%;
    box-sizing: border-box;
    padding: 17px 20px;
    border-radius: 8px;
    border: 1px solid var(--border);
    font-weight: 400;
    font-size: 16px;
}

.input-field{
    position: relative;
    display: flex;
    align-items: center;
}

form .input-icon{
    position: absolute;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--placeholder);
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

form a {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text);
    text-decoration: none;
    text-align: end;
}

form button {
    width: auto;
    background-color: var(--button);
    border: 0;
    padding: 16px 0px;
    border-radius: 16px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.login-panel-options {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: var(--text);
}

.login-panel-options a {
    font-weight: 600;
    color: var(--text);
    text-decoration: none;
}

.login-panel-footer {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.login-panel-footer p {
    color: var(--muted);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.5;
}

.success-panel {
    flex: 1;
    padding: 48px 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.success-panel-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.success-changed {
    padding-bottom: 12px;
}

.success-panel-heading {
    padding-bottom: 24px;
}

.success-panel-heading h2 {
    color: var(--text);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.125;
    padding-bottom: 8px;
}

.success-panel-heading p {
    color: var(--muted);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.back-to-login {
    width: 100%;
    background-color: var(--button);
    border: 0;
    padding: 16px 0px;
    border-radius: 16px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}